* {
    color: #efefef;

    background-color: #1E1E1E;

    font-family: 'Roboto', sans-serif;

    font-size: 12pt;
    font-weight: 400;

    list-style: none;

    text-decoration: none;

    text-shadow: none;

    border: none;

    outline: none;

    margin: 0px;
    padding: 5px;

box-sizing: border-box;
}

.header .nav .div .buttonCerrarSesion{
    border: 1px solid #630073;
    padding: 10px;
    background-color: #630073;
    color: #efefef;
    text-decoration: none;
    text-transform: initial;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 30px
}

.header .nav .div .buttonEliminarCuenta{
    border: 1px solid #630073;
    padding: 10px;
    color: #efefef;
    text-decoration: none;
    text-transform: initial;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border-radius: 30px
}

